<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @student.name %>
</p>

<p>
  <b>Marks:</b>
  <%= @student.marks %>
</p>

<p>
  <b>Subject:</b>
  <%= @student.subject %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>

  <% @courses.each do |course| %>
  <p>
    <span><%= course.created_at %></span>
    <span> Course: </span>
  </p>
  <p>
    <%= course.name %>
    <%= course.description %>
  </p>
<% end %>
